<div ng-include="'partials/navbar'"></div>



<div class="row" ng-repeat="movie in hdmovies">

  <div class="col-md-3">
  <img src="{{movie.image}}" width="100%">
  </div>

  <div class="col-md-8" >
    <div class="row">
     <div class="col-md-12">
     <h4>{{movie.title}}</h4>
     </div>
   </div>
    <div class="row">

      <div class="col-md-5"><a href= "{{movie.imdbLink}}">{{movie.imdbLink}}</a></div>
      <div class="col-md-5"> {{movie.genres}}</div>
      <div class="col-md-2"> {{movie.raiting}}</div>
    </div>
    <div class="row">
     <div class="col-md-3">
      <a class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>


</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
