<div ng-include="'partials/navbar'"></div>



<div class="row" ng-repeat="movie in movies | orderBy: 'created_at' : reverse">

  <div class="col-md-3">
  <img src="{{movie.image}}" width="100%">
  </div>

  <div class="col-md-8" >
    <div class="row">
     <div class="col-md-12">
     <h4><a href="{{movie.threadUrl}}">{{movie.title}}</a></h4>
     </div>
   </div>
    <div class="row">
      <div class="col-md-2">imdb:<a href= "{{movie.imdbLink}}">{{movie.imdbLink}}</a></div>
      <div class="col-md-2">genres:{{movie.genres}}</div>
      <div class="col-md-2">raiting:{{movie.rating}}</div>
    </div>
    <div class="row">
     <div class="col-md-3">
      <a class="btn btn-primary" ng-click="download(movie._id)">Download</a>
      </div>
    </div>
  </div>


</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
