<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Change Password</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

      <div class="form-group">
        <label>Current Password</label>

        <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
               mongoose-error/>
        <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
        </p>
      </div>




      <div class="form-group">
        <label>New Password</label>

        <input type="text" name="newPassword" class="form-control" ng-model="user.newPassword"
               ng-minlength="3"
               required/>
        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least 3 characters.
        </p>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save Password changes</button>
    </form>

  </div>
</div>
<br>


<div class="row">
  <div class="col-sm-12">

  </div>
</div>
<br/>
<br/>

<div class="row">
  <div class="col-sm-12">

    <ul class="list-group">
     <div  ng-repeat="forumItem in forums">
       <a  class="list-group-item" ng-click="editForum(forumItem)" ng-hide="isActive(forumItem)">
        <h4 >{{forumItem.title}} <small> {{forumItem.forumUrl}}</small>
          <button type="button" class="close" data-dismiss="alert" ng-click="deleteForum(forumItem)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </h4>
       </a>
       <a  class="list-group-item" ng-show="isActive(forumItem)" >
        <form class="form" novalidate>
          <div class="form-group">
            <label>Forum Title</label>
            <input type="text" name="title" class="form-control" ng-model="forum.title"
                   mongoose-error ng-minlength="3"
                   required/>
          </div>
          <div class="form-group">
            <label>Forum-Url</label>
            <input type="text" name="forumUrl" class="form-control" ng-model="forum.forumUrl"
                   ng-minlength="3"
                   required/>
          </div>
          <button class="btn btn-primary" ng-click="createOrUpdateForum()">Save</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </form>
       </a>


     </div>
      <a  class="list-group-item active" ng-click="newForum()" ng-hide="isCreate">
        <h4 >Create New Forum </h4>
      </a>
      <a  class="list-group-item active"  ng-show="isCreate" >
        <form class="form" novalidate>
          <div class="form-group">
            <label>Forum Title</label>
            <input type="text" name="title" class="form-control" ng-model="forum.title"
                   mongoose-error ng-minlength="3"
                   required/>
          </div>



          <div class="form-group">
            <label>Forum-Url</label>
            <input type="text" name="forumUrl" class="form-control" ng-model="forum.forumUrl"
                   ng-minlength="3"
                   required/>
          </div>
          <button class="btn btn-default" ng-click="createOrUpdateForum()">Create</button>
          <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
     </a>
    </ul>

  </div>
</div>



